<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='btn.css') }}">
    <link rel="stylesheet" href="..\static\btn.css">
    <link rel="stylesheet" href="..\static\font.css">
    <link rel="stylesheet" href="..\static\body.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <title>主頁面</title>
    <style>
        .content {
    
            justify-content: center;
            align-items: center;
            height: 90vh;
            margin: 0;
            /* 移除預設的邊距 */

        }

        .box {
            background-color: blueviolet;
            height: 80%;
            width: 60%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* 可選: 給框框一個陰影效果 */
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="#">聊心室</a>
        <a href="#">測驗</a>
        <a href="#">尋找資源</a>
        <a href="#" class="home-icon"><img src="\static\home.png" alt="Home Icon"></a>
    </div>
    <!-- banner -->

    <!-- 內容 -->
    <div class="content">
        <h1>早安安安安安</h1>
        <div id="displayScore"></div>
        <div class="box">

        </div>


    </div>

    <h5>@pull.me.up2023</h5>
    <script>
        
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        const scoreFromURL = getParameterByName('score');
        if (scoreFromURL) {
            console.log("Score from URL:", scoreFromURL);
            document.getElementById('displayScore').innerText = "得分：" + scoreFromURL;
        }



    </script>
</body>

</html>